---

import '../styles/global.css';

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stermer</title>
</head>
<body class="bg-gray-500" >
	<!-- шапка -->
<div class="flex flex-col justify-between h-screen ">
	
	<section class="flex justify-end items-center h-1/3 pr-10 rounded-3xl m-2 bg-gray-300">
		 <h1 class="text-5xl text-end font-bungee">Frontend <br> <span class="font-jost">разработчик</span></h1>
	</section>

	<!-- hero -->
	<div class="grid grid-cols-[1fr_4fr] w-full h-auto ">
		
		<!-- icon -->
		<section class="flex flex-col justify-around items-center rounded-3xl m-2 bg-gray-300">
			<a href="http://t.me/tori_sst"><img src="/img/telegram.png" alt="telegram" class="w-10 h-10 block"></a>
			<a href="http://github.com/tori-sst"><img src="/img/git.png" alt="github" class="w-10 h-10 block "></a>
		</section>

		<!-- name -->
		<section class="p-10 rounded-3xl m-2 bg-gray-300">
			<h2 class="text-right text-4xl font-bold font-jost">Штермер Виктория</h2>
		</section>
	</div>

	<!-- info -->
	<section class="justify-end  h-1/2 rounded-3xl m-2 bg-gray-300" >
		<p>
			Я занимаюсь фронтендом, потому что люблю 
			порядок и логику в интерфейсах.
		</p>

		<p>
			Я не обещаю, что переверну мир, 
			но я обещаю, что ваша задача будет 
			сделана качественно, в срок и без лишних сложностей. 
		</p>
		
	</section>
</div>
<!-- stack -->
<section class="grid grid-cols-3 grid-rows-3 gap-1.5 p-3 bg-blue-400">
	<div class="steck-div">
		<img src="/img/html.png" alt="html-logo" class="h-25 pt-4">
		<span>HTML</span>
	</div>
	<div class="steck-div">
		<img src="/img/css.webp" alt="html-logo" class="h-25">
		<span>CSS</span>
	</div>
	<div class="steck-div">
		<img src="/img/js.webp" alt="html-logo" class="h-25">
		<span>JavaScript</span>
	</div>
	<div class="steck-div">
		<img src="/img/astro-Photoroom.png" alt="html-logo" class="h-25 pt-4">
		<span>Astro</span>
	</div>
	<div class="steck-div">
		<img src="/img/tailwind.png" alt="html-logo" class="h-15 pt-4">
		<span class="text-center">Tailwind CSS</span>
	</div>
	<div class="steck-div">
		<img src="/img/figma.png" alt="html-logo" class="h-25">
		<span class="text-center">Figma</span>
	</div>
</section>

<!-- project -->
<section class="flex flex-col items-center bg-yellow-200">
	<h3 class="text-4xl font-bold font-jost">ПРОЕКТЫ</h3>
	<div  class="flex flex-col items-center bg-green-200">
		<h4 class="text-3xl">KАФЕ SEA</h4>
		<p>Разработала адаптивный веб-сайт для кафе „Sea“, включающий интерактивное меню, систему онлайн-заказов и модуль отзывов, на основе предварительного анализа маркетинговых целей индустрии.</p>
		
		<a class="text-xl" href="https://tori-sst.github.io/kafe_sea/">https://tori-sst.github.io/kafe_sea/</a>
		<iframe 
		src="https://tori-sst.github.io/kafe_sea/" 
		width="90%" 
		height="400px" 
		title="сайт 'Кафе SEA' ">
		</iframe>
	</div>
</section>
</body>
</html>